.code {
    margin: 24px 0 40px;
}

.codeTitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin: 0 0 8px 0;
    color: var(--medium-gray);
}

.markdown {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    padding: 16px;
    font-size: 15px;
    line-height: 20px;
    overflow-y: auto;
    border-radius: 8px;
}