.link {
    text-decoration: none;
}

.container {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    width: 486px;
    border-radius: 8px;
}

.header {
    padding: 24px;
    background-color: var(--medium-gray);
    border-radius: 8px 8px 0 0;
}

.headerFigure {
    margin: 0;
}

.headerImg {
    border-radius: 8px;
}

.body {
    padding: 16px;
}

.section {
    margin-bottom: 32px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.content {
    font-size: 15px;
    margin: 0 0 8px 0;
    text-align: justify;
}

.innerLink {
    font-size: 18px;
    color: var(--light-green);
    margin: 0;
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: var(--medium-gray);
    margin: 0;
    text-align: center;
    font-size: 15px;
}