body {
  background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  margin: 0;
  min-height: 100vh;
  --light-gray: #BCBCBC;
  --medium-gray: #888888;
  --dark-gray: #171D1F;
}

.app-container {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  padding: 56px 0;
  display: flex;
  column-gap: 8px;
  height: 100vh;
  box-sizing: border-box;
}