.section {
    padding: 32px 16px;
    background-color: var(--medium-gray);
}

.title {
    margin: 0 0 24px 0;
    font-size: 22px;
    font-weight: 600;
    color: var(--dark-gray);
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.item:not(:last-child)::after {
    content: '';
    border-top: 1px solid #3E3E3E;
    width: 100%;
    display: block;
    margin: 16px 0;
}

.reply {
    font-size: 15px;
    font-weight: 600;
    color: var(--dark-gray);
}