.wrapper,
.form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.comment {
    display: flex;
    column-gap: 8px;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
}

.comment p {
    margin: 0;
    color: #E1E1E1;
}

.author {
    font-weight: 600;
    color: var(--light-green);
}

.line {
    height: 88px;
    border-left: 1px solid var(--medium-gray);
}

.form {
    align-items: flex-end;
}

.text {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: 160px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    background-color: var(--light-gray);
}

.text::placeholder {
    font-size: 18px;
    color: #3E3E3F;
}

.button {
    font-size: 15px;
    color: var(--dark-gray);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}